@use '@includes/index.scss' as *;

.header {
  padding-top: 24px;

  flex-direction: row !important;
  gap: 4px;
  --img-size: 160px;
  &_right {
    margin-top: 16px;
    min-width: var(--img-size);
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 50%;
    object-fit: cover;
  }

  @include media-s-breakpoint-and-down {
    --img-size: 200px;
    &_right {
      margin-top: 16px;
      margin-bottom: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  @media (max-width: 420px) and (max-height: 680px) {
    min-height: 100vh;
  }
}

@include media-m-breakpoint-and-up {
  .sBreakpoint {
    display: none;
  }
}
@include media-s-breakpoint-and-down {
  .mBreakpoint {
    display: none;
  }
}

.moreAboutMe {
  border-radius: 8px;
  margin-left: -16px;
  padding-left: 16px;
  padding-right: 16px;
  width: calc(100% + 32px);
}

.fadeIn {
  background-color: #ddf3ff;
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    background-color: #ddf3ff;
  }
  100% {
    background-color: transparent;
  }
}
