// Base styles for the external link
.link {
  text-decoration: none; // Remove default underline
  cursor: pointer;
  transition: color 50ms ease-in-out, text-decoration 50ms ease-in-out;
  text-decoration: underline;

  color: var(--color_text-access_default);

  &:focus {
    outline: 2px solid var(--color_text-access_high--enabled); // Simple focus indicator
    outline-offset: 2px;
  }
}

// Accent styles
.accent_default {
  &:hover {
    color: var(--color_text-access_high--enabled); // Default blue for links
  }
}

.accent_high {
  color: var(--color_text-access_high--enabled); // Default blue for links
  font-weight: bold;

  &:hover {
    color: var(--color_text-access_default);
  }

  &:focus {
    outline: 2px solid var(--color_text-access_high--enabled); // Simple focus indicator
  }
}
