// input,
// [type='text'],
// [type='email'],
// [type='password'] {
// 	border: 1px solid gray;
// }

// [type='button']:-moz-focusring,
// [type='reset']:-moz-focusring,
// [type='submit']:-moz-focusring,
// button:-moz-focusring {
//   outline: 1px dotted ButtonText;
// }

// my code

.Toastify__toast--exit {
  animation: Toastify__slideOut 0s ease-out forwards;
}

html,
body,
#root {
  overflow-x: hidden;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

/* Убираем outline для кликов мышью */
*:focus {
  outline: none;
}

button,
input,
textarea {
  background: none;
  padding: 0;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

// input:focus,
// textarea:focus {
// 	outline: 1px solid black;
// }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

//-

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body {
  line-height: 1;
} */
// ol,
// ul {
//   list-style: none;
// }

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

[type='checkbox'],
[type='radio'],
label,
button {
  cursor: pointer;
}

label {
  display: block;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

em {
  font-style: normal; /* Убирает курсивное начертание */
}

// h1 {
//   font-size: 2em;
//   margin: 0.67em 0;
// }
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

form {
  flex: 1;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}

input {
  width: 100%;
  padding: 0;
}

button,
input {
  color: inherit;
  border: none;
  background: none;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  background: none;
  border: none;
}

// Отключение стилей автозаполнения
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 500000s ease-in-out 0s;
  /* выставляется желаемая задержка */
}

button {
  padding: 0;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

img,
svg {
  max-width: 100%;
  // max-height: 100%;
  height: auto;
}
